:root {
    --cell-size: 60px;
    --field-size: 10;
    --cell-border-width: 1px;
    --border-offset: calc(var(--cell-border-width) * -1);
    --acid-green: #75fc19;
    --light-green: #759b2c;
    --green: #1A2A05;
    --red: #FF0000;
    --black: #000;
}
.field {
    position: relative;
    background-color: var(--green);
    width: calc(var(--cell-size) * var(--field-size));
    display: flex;
    flex-wrap: wrap;
    border: var(--cell-border-width) solid var(--light-green);
}

.cell {
    position: relative;
    height: var(--cell-size);
    width: var(--cell-size);
    box-sizing: border-box;
    border: var(--cell-border-width) solid var(--light-green);
    cursor: pointer;
}

.cell:hover:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    top: var(--border-offset);
    right: var(--border-offset);
    bottom: var(--border-offset);
    left: var(--border-offset);
    border: calc(var(--cell-border-width) * 2) solid var(--red);
}

.cell.miss:before {
    position: absolute;
    content: 'MISS';
    color: var(--acid-green);
    font-size: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hit, .sunk {
    background-image: url("img/ship.svg");
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center center;
}

.sunk:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('img/x.svg');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.hide-ship {
    background-color: var(--acid-green);
}
